.main {
  display: flex;
  position: relative;
  max-width: 100%;
  min-height: 92.2vh;
  max-height: max-content;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: rgba(241, 236, 236, 0.945);
}
